# Temporary files
.DS_Store
*~
.#*
.*.sw?

*.class

# Package Files #
*.jar
*.war
*.ear

#Ignore all subdirectories under classes#
WEB-INF/classes/*/*

#Ignore the log folder#
WEB-INF/logs/

#Ignore the lib folder#
WEB-INF/lib/

#Ignore the buildDate.txt#
WEB-INF/buildDate.txt
