# Temporary files
~*
.#*
*.sw[o-p]

# Build directories
/build/
/bin/
target/

# OS Files
.DS_Store

*.class

# Package Files
*.jar
*.war
*.ear
*.db

######################
# Windows
######################
Thumbs.db
Desktop.ini

######################
# OSX
######################
.DS_Store
.svn
._*  # Thumbnails

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
/src/main/resources/rebel.xml

.amateras
.externalToolBuilders
*.launch  # Locally stored "Eclipse launch configurations"

######################
# Eclipse
######################
.idea/workspace.xml
.idea/tasks.xml

