# Temporary files
~*
.#*
*.sw[o-p]

# Build directories
/build/
/bin/
target/

# Package Files
*.jar
*.war
*.ear
*.tar*
*.tgz

######################
# Windows
######################
Thumbs.db
Desktop.ini

######################
# OSX
######################
.DS_Store
.svn
._*  # Thumbnails

# Files that might appear on external disk
.Spotlight-V100
.Trashes

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/**
*.tmp
*.bak
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.launch

######################
# IDEA
######################
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/

######################
# Python
######################
*.pyc

######################
# Input files
######################
*.sdf
*.act

