<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="chembench" fileName="${env:CHEMBENCH_HOME}/logs/chembench.log"
                     filePattern="${env:CHEMBENCH_HOME}/logs/chembench-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} %p %c{1.}:%L %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.apache.log4j.xml" level="info" />
        <Logger name="edu.unc.ceccr" level="debug" />
        <Logger name="org.hibernate" level="info" />
        <Logger name="org.springframework" level="info" />
        <Logger name="com.zaxxer" level="info" />

        <Root level="warn">
            <AppenderRef ref="chembench" />
        </Root>
    </Loggers>
</Configuration>
