<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="chembench" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="/CHEMBENCH/logs/chembench-%d.log" />
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
        </layout>
    </appender>

    <logger name="edu.unc.ceccr">
        <level value="debug" />
    </logger>

    <logger name="org.hibernate">
        <level value="info" />
    </logger>

    <!-- default logging -->
    <root>
        <priority value="error" />
        <appender-ref ref="chembench" />
    </root>

</log4j:configuration>
