<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Ceccr-Log" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="/CHEMBENCH/logs/ceccr-debug-%d.log"/>
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1} :%L - %m%n"/>
        </layout>
    </appender>

    <appender name="Jobs-Log" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="/CHEMBENCH/logs/chembench-jobs-%d.log"/>
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1} :%L - %m%n"/>
        </layout>
    </appender>

    <appender name="Prediction-Log" class="org.apache.log4j.rolling.RollingFileAppender">
        <rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
            <param name="FileNamePattern" value="/CHEMBENCH/logs/prediction-%d.log"/>
        </rollingPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1} :%L - %m%n"/>
        </layout>
    </appender>

    <logger name="edu.unc.ceccr" additivity="false">
        <level value="all"/>
        <appender-ref ref="Ceccr-Log"/>
    </logger>

    <logger name="edu.unc.ceccr.chembench.actions.PredictionAction" additivity="true">
        <level value="all"/>
        <appender-ref ref="Prediction-Log"/>
        <!-- should write to Ceccr-Log as well due to additivity=true -->
    </logger>

    <logger name="edu.unc.ceccr.chembench.workflows.modelingPrediction.RunSmilesPrediction" additivity="true">
        <level value="all"/>
        <appender-ref ref="Prediction-Log"/>
        <!-- should write to Ceccr-Log as well due to additivity=true -->
    </logger>

    <logger name="edu.unc.ceccr.chembench.actions.MyBenchAction" additivity="false">
        <level value="all"/>
        <appender-ref ref="Jobs-Log"/>
    </logger>

    <logger name="edu.unc.ceccr.chembench.taskObjects.QsarModelingTask" additivity="false">
        <level value="all"/>
        <appender-ref ref="Jobs-Log"/>
    </logger>

    <logger name="edu.unc.ceccr.chembench.actions.ModelAction" additivity="false">
        <level value="all"/>
        <appender-ref ref="Jobs-Log"/>
    </logger>

    <logger name="edu.unc.ceccr.chembench.jobs" additivity="false">
        <level value="all"/>
        <appender-ref ref="Jobs-Log"/>
    </logger>


    <!-- default logging -->
    <root>
        <priority value="error"/>
        <appender-ref ref="Ceccr-Log"/>
    </root>

</log4j:configuration>

