<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- C3P0 connection pooling -->
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.timeout">20</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">32</property>
        <property name="hibernate.c3p0.acquireIncrement">2</property>
        <property name="hibernate.c3p0.idleConnectionTestPeriod">900</property>
        <property name="hibernate.c3p0.initialPoolSize">20</property>
        <property name="hibernate.c3p0.maxPoolSize">100</property>
        <property name="hibernate.c3p0.maxIdleTime">300</property>
        <property name="hibernate.c3p0.maxStatements">200</property>
        <property name="hibernate.c3p0.minPoolSize">10</property>
    </session-factory>
</hibernate-configuration>

