.solidblockmenu li{
display: inline;
}

.solidblockmenu li a{
float: left;
color: #555555;
text-align:center;
padding: 9px 11px;
text-decoration: underline;
border-right: 1px solid white;
width:84px;
}

.solidblockmenu li a:visited{
color: white;
}

.solidblockmenu li a:hover, .solidblockmenu li .current{
color: white;
background: transparent url(img/blockactive.jpg) center center repeat-x;
}

.solidblockmenu{
margin: 0;
padding: 0;
float: left;
font: bold 12px Arial;
width: 100%;
border: 1px solid #FFFFFF;
border-width: 1px 0;
background: white url(img/blockdefault.jpg) center center repeat-x;
list-style: none;
}


