#homeButton {
	border-left: 1px solid rgb(153, 153, 153);
}

.outer {
	width:950px;
	margin-left:auto;
	margin-right:auto;
}

.homeLeft {
	float:left;
	width:62%;
}

.homeRight {
	float:left;
	width:35%;
	padding:10px;
}

.loginRight {
	padding-top:20px;
	padding-right:25px;
}


.navHref {
	text-decoration: none;
}

.navList {
	margin:0pt;
	padding:0pt;
	list-style-type: none;
	display:inline;
	text-decoration:none;
}

.footerSide {
	margin: 0pt; 
	height: 118px; 
	background-image: url(http://chembench.mml.unc.edu/theme/img/infocell.jpg); 
	float: left; 
	width: 24%;
}

.footerMiddle {
	margin: 0pt; 
	height: 118px; 
	background-image: url(http://chembench.mml.unc.edu/theme/img/infocell.jpg); 
	float: left; 
	width: 49.5%;
}

.benchAlign {
	clear:both;
	margin:0px;
	margin-right:24px;
}

.topMargin {
	margin-top:20px;
}

.bottomMargin {
	margin-bottom:20px;
}

.bottomMarginDataset {
	margin-bottom:10px;
}

.bottomMarginAdme {
	margin-bottom:-16px;
}

.topMarginChoosepredictors {
	margin-top:-40px;
}

.topMarginBench {
	margin-top:-10px;
}

.includes {
	clear:both;
	margin:0px;
}

.includesHeader {
	clear:both;
	margin:0px;
	padding-top:10px;
}

.includesNavbar {
	clear:both;
	margin:0px;
	padding-top:10px;
	padding-bottom:55px;
}

.datasetTables {
	padding-top:10px;
}

.boxDescriptionText {
	margin-left:10px;
	padding-bottom:10px;
}

.boxHeadingText {
	margin-left:8px;
}

.datasetLastTable {
	margin-left:-18px;
}

.pad6pxleft {
	padding-left:6px;
}

.pad17pxleft {
	padding-left:17px;
}

.pad15pxleft {
	padding-left:15px;
}