.NoteTextDarkGray {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: white;
}

.TextDarkGray {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #4D5F75;
	text-indent: 20px;
	
	}
	
 .special{border: 1px #4D5Ff3 solid;}


.StandardTextDarkGray41{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #B0B0B0;
	text-indent: 0px;
	}
 
.ChangePSText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #4D5F75;
	text-indent: 20px;
	
	}
	.LinkText1 {
	font-family: GoudyOlSt BT;
	font-size: 14px;
	color: red;
	text-indent: 20px;
	
	}
	
	.TableRowText11 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	background-color: #9DACBF;
	text-align: center;
	height: 30px;
	width: 60px;
	font-weight: bold;
	vertical-align: middle;
}


.AdminTableRowText{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #5F7692;
	text-indent: 8px;
	height: 20px;
	font-weight: bold;
	vertical-align: middle;
               text-decoration:none;}
               
    .AdminTableRowText2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	color:#5F7692;
	text-indent: 8px;
	height: 20px;
	vertical-align: middle; text-decoration:none;
	}

.AdminInfoText{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #2F4F4F;
	text-indent: 50px;
	
	vertical-align: middle;
              }


table#application{
    background-color:white;
   margin-left:30px;
    width: 700px;

}

table#application td {
    padding: 3px;
    border: solid lightgray 1px;

}

.data {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
    color: lightblue;
    text-align: left;
    background-color: white;

}



.column1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
   color:#000033;
    text-align: left;
    width: 80px;
    background-color:white;

}

.column2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
                  color:gray;
    text-align: left;
    width: 530px;
    background-color:white;

}

.column3 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
                
    text-align: left;
    width: 20px;
    background-color:white;

}

.TableRow01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background-color: #9DACBF;
	text-align: left;
	height: 40px;
	font-weight: bold;
	vertical-align: middle;
}
