@charset "utf-8";

#no-js-warning {
    margin-top: 1em;
    margin-bottom: 0;
}

.container {
    width: 900px;
    max-width: none !important;
    margin: auto;
}

footer {
    margin-bottom: 1.5em;
}

/* navbar styling */
.nav-list {
    list-style-type: none;
    padding: 0;
    height: 40px;
    margin-bottom: 0;
}

.nav-list li {
    float: left;
    width: 20%;
    border-top: #999999 solid 1px;
    border-bottom: #999999 solid 1px;
    border-right: #999999 solid 1px;
    text-align: center;
    font-size: 19px;
    line-height: 38px;
    cursor: pointer;
    background: #e0f3fa; /* Old browsers */
    background: -moz-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0f3fa), color-stop(50%, #d8f0fc),
    color-stop(51%, #b8e2f6), color-stop(100%, #b6dffd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f3fa', endColorstr='#b6dffd', GradientType=0);
    /* IE6-9 */
    background: linear-gradient(top, #e0f3fa 0%, #d8f0fc 50%, #b8e2f6 51%, #b6dffd 100%); /* W3C */
}

.nav-list li.active {
    background: #F7F7F7; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3),
    color-stop(51%, #ededed), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    background: linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* W3C */
}

.nav-list li:first-child {
    border-left: #999999 solid 1px;
}

.nav-list a:hover, .nav-list a.hovered {
    text-decoration: none;
    color: #2a6496;
}

/* end navigation */

/* masthead */
#masthead {
    display: table;
    width: 100%;
    margin: 1em 0 0.5em 0;
}

#masthead h1 {
    display: table-cell;
}

.userbox {
    display: table-cell;
    text-align: right;
    vertical-align: bottom;
}

.userbox-links {
    list-style-type: none;
}

.userbox-links li {
    display: inline-block;
    padding: 0 1em;
    border-right: 1px solid #eee;
}

.userbox-links li:last-child {
    padding-right: 0;
    border-right: none;
}

/* end masthead */

/* sponsor attribution on homepage */
.sponsor-message {
    text-align: center;
    font-size: 18px;
}

.sponsor-list {
    text-align: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sponsor-list li {
    display: inline-block;
    margin: 0 2em 0 2em;
}

/* end sponsor attribution */

/* tabs & panels */
.nav-tabs {
    margin-top: 2em;
}

.nav-pills {
    margin-bottom: 1em;
}

.tab-pane {
    padding: 0 1.5em;
}

.tab-pane .tab-description {
    margin-bottom: 1.5em;
}

.panel-heading h1, .panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heading h6 {
    margin: 0;
}

/* end tabs & panels */

.links-list {
    padding-left: 1.5em;
    list-style-type: circle;
}

.properties-list {
    margin-bottom: 0;
}

.properties-list dt {
    text-align: left;
    width: auto;
    margin-right: 0.3em;
}

.properties-list dt:after {
    content: ":";
}

.properties-list dd {
    margin-left: 0;
}

.interstitial-banner {
    display: block;
    width: 100%;
    height: 97px;
    margin: 1em 0 1em 0;
}

.login-button {
    margin-right: 1em;
}

.logout-button {
    margin-left: 1em;
}

h1 button, h2 button, h3 button, h4 button, h5 button, h6 button {
    margin-left: 0.4em;
}

.form-group.required .control-label:before {
    content: "\2a";
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    color: red;
    margin-right: 0.5em;
}

.inline-radio-group {
    padding-top: 7px;
}

.inline-radio-group label {
    margin-right: 1.5em;
}

.activity-type, .job-type {
    text-transform: lowercase;
}

.activity-type:first-letter, .job-type:first-letter {
    text-transform: capitalize;
}

.public-private {
    text-align: center;
}

.public-private span[title] {
    border-bottom: none;
}

label[for] {
    cursor: pointer;
}

input[type="file"] {
    padding-top: 7px;
    padding-bottom: 7px;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 0.4em;
    vertical-align: top;
}

.help-block {
    color: #777;
    margin-top: -5px;
    margin-bottom: 0;
}

.optional-sdf-options {
    display: none;
}

.descriptor-type-entry {
    padding-top: 7px;
}

.descriptor-type input[type="text"], .descriptor-type select {
    width: 200px;
}

.external-split-type {
    margin-left: -1.5em;
}

.paper-reference-input-wrapper {
    padding-top: 0.7em;
    padding-bottom: 9.8px;
}

span[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}

table.tablesorter th:not(.sorter-false) {
    cursor: pointer;
}

td.name {
    width: 25%;
    word-break: break-all;
}

td.date-created {
    white-space: nowrap;
}

.button-group div {
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid #888;
}

.button-group div:first-child {
    padding-left: 0;
    border: none;
}

table.compound-list {
    table-layout: fixed;
}

/* needed for specificity issues */
table.compound-list > tbody > tr > td {
    vertical-align: middle;
}

table.compound-list td.name {
    padding-left: 1em;
}

.popover-image {
    max-width: none;
}

.popover-image .popover-content {
    padding: 0;
}

#heatmapSwfWrapper {
    padding-bottom: 100%;
}

.citation {
    display: inline-block;
    margin: 0.2em 1em 0 1em;
    font-style: italic;
}

#dataset-selection {
    margin-top: 0.3em;
}

#dataset-info-wrapper {
    border-left: 1px solid #888;
}

#view-dataset-detail {
    margin-right: 0.5em;
}

.help-inline {
    line-height: 34px;
    margin-left: -1.5em;
    color: #777;
}

.range-input-group .input-wrapper {
    position: relative;
}

.range-input-group .input-prefix {
    position: absolute;
    line-height: 35px;
    left: 0.7em;
    z-index: 999;
    color: #aaa;
}

.range-input-group .input-prefix ~ .form-control {
    padding-left: 1.9em;
    width: 100%;
}

.range-input-group .form-group {
    width: 33%;
}

.range-input-group .form-group:first-child {
    padding-left: 15px;
}

.range-input-group .form-group:last-child {
    padding-right: 15px;
}

.range-input-group .form-inline {
    text-align: justify;
    height: 34px;
}

.range-input-group .form-inline:after {
    content: "";
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.range-input-group ~ :not(.range-input-group) .form-control {
    width: 30%;
    display: inline-block;
}

.range-input-group ~ :not(.range-input-group) .form-control ~ .help-inline {
    margin-left: 0.5em;
}

#descriptor-types, #scaling-types {
    margin-left: 15px;
}

#scaling-types .inline-radio-group {
    padding-left: 0;
}

.advanced-settings-group h4 {
    position: relative;
}

.advanced-settings-group .glyphicon {
    font-size: small;
    position: absolute;
    left: -1.4em;
    top: 0.3em;
}

.advanced-settings-group .advanced-settings {
    display: none;
}
