/* hide the datatable until ajax loading completes */
/* (the draw event will check if there are any rows and show the table if so) */
.dataTables_wrapper {
    display: none;
}

table[data-object-type="job"] {
    table-layout: fixed;
}

table[data-object-type="job"] td {
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    white-space: nowrap;
}

/* for select-all table header */
th[data-property="checkbox"] input[type="checkbox"] {
    margin: 0;
    padding: 0;
}

/* clip overly long names that can't be broken neatly */
.name-cell {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.object-action-group .object-action {
    display: inline-block;
    padding: 0 0.5em;
    border-left: 1px solid #888;
}

.object-action-group .object-action:first-child {
    padding-left: 0;
    border: none;
}

/* fix for doubled sorting arrows in scroll body */
.dataTables_scrollBody table.dataTable thead .sorting:after,
.dataTables_scrollBody table.dataTable thead .sorting_asc:after,
.dataTables_scrollBody table.dataTable thead .sorting_desc:after,
.dataTables_scrollBody table.dataTable thead .sorting_asc_disabled:after,
.dataTables_scrollBody table.dataTable thead .sorting_desc_disabled:after {
    content: "";
}

/* fix for weird space between scroll-head and scroll-body */
.dataTables_scrollBody table.dataTable thead .sorting .dataTables_sizing {
    position: absolute;
}

.dataTables_info {
    float: left;
}
