<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <display-name>Chembench: The Cheminformatics Workbench</display-name>

    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.AnnotationConfigWebApplicationContext
        </param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>edu.unc.ceccr.chembench.config.ApplicationContext</param-value>
    </context-param>

    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>edu.unc.ceccr.chembench.servlet.ApplicationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/apps/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>edu.unc.ceccr.chembench.servlet.FileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/fileServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Compound3D</servlet-name>
        <servlet-class>edu.unc.ceccr.chembench.servlet.Compound3DServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Compound3D</servlet-name>
        <url-pattern>/compound3D.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>edu.unc.ceccr.chembench.servlet.ImageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/imageServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DescriptorMatrixServlet</servlet-name>
        <servlet-class>edu.unc.ceccr.chembench.servlet.DescriptorMatrixServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DescriptorMatrixServlet</servlet-name>
        <url-pattern>/descriptorMatrixServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProjectFilesServlet</servlet-name>
        <servlet-class>edu.unc.ceccr.chembench.servlet.ProjectFilesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProjectFilesServlet</servlet-name>
        <url-pattern>/projectFilesServlet.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DatasetFilesServlet</servlet-name>
        <servlet-class>edu.unc.ceccr.chembench.servlet.DatasetFilesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DatasetFilesServlet</servlet-name>
        <url-pattern>/datasetFilesServlet.do</url-pattern>
    </servlet-mapping>

    <session-config>
        <!-- 90 minutes -->
        <session-timeout>90</session-timeout>
    </session-config>

    <listener>
        <listener-class>edu.unc.ceccr.chembench.utilities.ActiveUser</listener-class>
    </listener>

    <listener>
        <listener-class>edu.unc.ceccr.chembench.global.ChembenchConfigurationContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <listener>
        <listener-class>edu.unc.ceccr.chembench.global.CentralDogmaContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
        <init-param>
            <param-name>actionPackages</param-name>
            <param-value>edu.unc.ceccr.chembench.actions</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>/home</welcome-file>
    </welcome-file-list>
</web-app>
